body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #074671;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-fixed-bottom {
    background: #074671;
    border: 0px
}

.navbar-fixed-top {
    background: rgba(0, 0, 0,.4);
    border: 0px
}